
/* To add some space below the navigation bar */


 body {
  margin-top: 20px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

/*  Increase page width to make more use of the screen on both sides*/

body .main-container {
  max-width: 1140px !important;
  width: 1140px !important;
}
body {
  max-width: 1140px !important;
  margin-left: auto;
  margin-right: auto;
}

/* add some color - if you want color behind a major point on your website */

.banner_color {
  background-color: #5EB2EA;
  font-weight: bold;
  color: black;

}

/* Style buttons - if you want some text centered and bolded */

.center {
  font-weight:bold;
  text-align: center;
}

/* Style buttons - if you want to have a button */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


